@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 200 15% 8%;

        --card: 0 0% 100%;
        --card-foreground: 200 15% 8%;

        --popover: 0 0% 100%;
        --popover-foreground: 200 15% 8%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 0 0% 52%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 207 26% 17%;
        --foreground: 0 0% 100%;

        --card: 209 23% 22%;
        --card-foreground: 0 0% 100%;

        --popover: 209 23% 22%;
        --popover-foreground: 0 0% 100%;

        --primary: 209 23% 22%;
        --primary-foreground: 0 0% 100%;

        --secondary: 209 23% 22%;
        --secondary-foreground: 0 0% 100%;

        --muted: 209 23% 22%;
        --muted-foreground: 0 0% 100%;

        --accent: 209 23% 22%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 100%;

        --border: 209 23% 22%;
        --input: 209 23% 22%;
        --ring: 209 23% 22%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    ::-webkit-scrollbar {
        @apply w-[0.75rem];
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent my-2 rounded-full;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-foreground rounded-full border border-background;
    }
}
